
<form class="{{variable1}}-{{variable2}}"  [formGroup]="createActForm" (ngSubmit)="createActFunction(createActForm.value)" >
    <div class="row" style="margin-left: 1cm;margin-top: 1rem; margin-right: 1cm;">
        <div class="col-md-6 verticalLine">
            <h1>Personal Details</h1>
            <hr>
            <div>
                <label for="fName"> Name <span style="color: red;">*</span>(same as ID proof)</label>
            </div>
            
            <div class="row">
          
                <div class="col-md-6 form-group">
                        <label for="fName"> First Name <span style="color: red;">*</span></label>
                        <input type="fName" formControlName="firstName" class="form-control" id="fName" aria-describedby="fName" aria-placeholder="first name" required>
                     
                </div>
                
                <div class="col-md-6 form-group">
                    <label for="fName"> Last Name <span style="color: red;">*</span></label>
                    <input type="lName" formControlName="lastName" class="form-control" id="lName" aria-describedby="lName" aria-placeholder="last name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">Date Of Birth<span style="color: red;">*</span></label>
                        <input type="date" formControlName="dob"  class="form-control" id="start" name="trip-start" value="{{date}}"  min="1922-01-01" max="2023-01-01" required>
                </div>
                <div class="col-md-6 form-group">
               
                        <label for="exampleInputPassword1">Gender<span style="color: red;">*</span></label> <br>
                    <div class="row">
                        <div class="col-md-6" style="text-align: center;">
                           <input type="radio" formControlName="gender"   id="male" name="gender" value="male" (change)="genderValue('male')"required>                        
                           <label for="male" style="margin-left: 5px;">male</label>
                        </div>
                  
                        <div class="col-md-6">
                           <input type="radio" formControlName="gender"  id="female" name="gender" value="female" (change)="genderValue('female')" required>
                           <label for="female" style="margin-left: 5px;">female</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                        <label for="fatherName">Father's Name<span style="color: red;">*</span></label>
                        <input type="text" formControlName="fatherName" class="form-control" id="fatherName" aria-describedby="fatherName" required>
                </div>
                <div class="col-md-6 form-group">
                   
                    <label for="exampleInputPassword1">Marital Status<span style="color: red;">*</span></label> <br>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="marriedStatus" required>
                        <option value="">None</option>
                        <option>Married</option>
                        <option>Unmarried</option>
                        <option>Single</option>
                        <option>Divorced</option>
              
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">Annual Income<span style="color: red;">*</span></label>
                        <input id="income" formControlName="annualIncome" name="income" type="number"  maxlength="10" size="6" autocomplete="off" class="required form-control"
                             required="true" OnlyNumber="true">
                </div>  
                <div class="col-md-6 form-group">
                    <label for="exampleInputPassword1">Education Details<span style="color: red;">*</span></label>
                    <select class="form-control" formControlName="qualification" id="exampleFormControlSelect1" required>
                        <option value="">None</option>
                        <option>10th and blow</option>
                        <option>+2 and blow</option>
                        <option>Under graduate (UG)</option>
                        <option>Post graduate (PG)</option>
              
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">Permanant Account Number <span style="color: red;">*</span></label>
                        <input id="income" formControlName="pan"  name="pan" type="text" [ngModel]="pan" 
                        (ngModelChange)="pan= $event.toUpperCase()" maxlength="10" size="6" autocomplete="off" class="required form-control"
                        required >
                </div>
                <div class="col-md-6 form-group">
                    <label for="Occupation">Occupation<span style="color: red;">*</span></label>
                    <select class="form-control" formControlName="occupation" id="Occupation" required>
                        <option value="">None</option>
                        <option >student</option>
                        <option>business</option>
                        <option>self employee</option>
                        <option>employee</option>
                        

                      </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Contact Details</h1>
            <hr>
            <div class="row" style="margin-top: 1.3cm;">
              
                <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">Mobile Number<span style="color: red;">*</span></label>
                        <input type="text" formControlName="mobileNumber" required="true" maxlength="10" OnlyNumber="true" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-md-6 form-group">
                    <label for="exampleInputPassword1">Alternate Mobile Number (optional)</label>
                    <input type="number" formControlName="altMobileNumber" maxlength="10" OnlyNumber="true"  class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                         <label for="exampleInputEmail1">Email address<span style="color: red;">*</span></label>
                        <input type="email"formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="exampleInputPassword1">Aadhaar Number<span style="color: red;">*</span></label>
                    <input type="text" formControlName="adharNumber" class="form-control" maxlength="12" id="exampleInputPassword1" placeholder="    XXXX    XXXX    XXXX" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">Upload Aadhaar <span style="color: red;">*</span></label>
                        <input type="file" valu="adhar" formControlName="adharfile"    accept=".jpg, .jpeg, .png" (change)="fileuploadsingle($event)" class="form-control" id="adhar" aria-describedby="emailHelp" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="exampleInputPassword1">Upload Pan<span style="color: red;">*</span></label>
                    <input type="file" formControlName="panfile" value="pan" accept=".jpg, .jpeg, .png" (change)="fileuploadsingle($event)" class="form-control" id="pan" required>
                </div>
            </div>
            <!-- <div>
                <label for="exampleInputEmail1">Address<span style="color: red;">*</span></label>
                <textarea name="address" id="address" class="form-control" required></textarea>

            </div>   -->
            <div class="row">           
                <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">state<span style="color: red;">*</span></label>
                        <input type="text"  formControlName="state" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="exampleInputPassword1">city<span style="color: red;">*</span></label>
                    <input type="text"  formControlName="city" class="form-control" id="exampleInputPassword1" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">zip code<span style="color: red;">*</span></label>
                        <input type="text"  formControlName="zipcode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="exampleInputEmail1">Address<span style="color: red;">*</span></label>
                   <textarea name="address"  formControlName="address" id="address" class="form-control" required></textarea>
                </div>
            </div>
            <div>
                <button  (click)="formvalidation()" [disabled]="createActForm.invalid"    class="btn btn-primary" type="submit" style="width: 3cm; margin-left: 3cm;margin-top: 1cm;">
                      submit
                </button>
                <button  class="btn btn-secondary" type="button" style="width: 3cm; margin-left: 5cm;margin-top: 1cm;"
                     (click)="createActForm.reset()" >
                    reset
                </button>
            </div>
          
        </div>   
        
    </div>

</form>
<hr>
<div >
    <div style="margin-left: 1cm;">
        <h4>Note <span style="color:lime;">*</span></h4>
        <p style="margin-left: 1cm;">
            After submiting the form your details will verified by bank manager within 2 days . 
            After verification we will send message to your registered  <span style="color:green;">Email Address</span> here you will see verification status
        </p>
        <hr>
    </div>
</div>
