#navigation
{
    background-color:  #3fb597;
}
/* h5 {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    text-align: center; 
    height: 2rem;
    width: auto;
} */

h6
{   -ms-transform: scale(1); 
    -webkit-transform: scale(1);
    transform: scale(1); 
    width: 6cm ;
}
.badge:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    height: 2rem;
  color: #a3a8ad;
    
  }