<div class="row" style="margin-right: 0px;margin-left: -77px;">
 <div id="navigation" class="col-md-3 " >
    <!-- Navigation Menu-->
    <ul class="navigation-menu" style="margin-bottom: 0rem;margin-top: 1rem;text-align: center ;">
      <li class="has-submenu badge badge-primary" (click)="actSummary()" >
        <a >
          <h6 > Account Summary >></h6>
        </a>
      </li> <hr>
      <li class="has-submenu badge badge-primary">
        <div >
          <h6  >Mini statement >></h6>
        </div>
      </li> <hr>
      <li class="has-submenu badge badge-primary" >
        <div  >
          <h6 >mPassbook >></h6>
        </div>
      </li><hr>
      <li class="has-submenu badge badge-primary" >
        <div>
          <h6 >View/download Statement >></h6>
        </div>
      </li><hr>
      <li class="has-submenu badge badge-primary" >
        <div>
          <h6 > e-Statement Subscription >></h6>
        </div>
      </li><hr>
      
    </ul>
    <!-- End navigation menu  -->
  </div>


  <!-- account summary -->

    <div class="col-md-5"  style="border-radius: 10px; padding-left: 40px;padding-right: 40px;">
        <div *ngIf="createAccount">
             <app-create-account></app-create-account>
        </div>
      <div *ngIf="accountSummary" style="margin-top:1rem;">
        <span style="color: blue;" >current date & time:{{now}}</span>
        <hr>
        <div  (click)="accountDetails()" class="row" style="text-align: left;margin-top: 10px;border: 1px solid;">
            <div class="col-md-5">
                <h6> Transaction Account</h6>
                <span>(SB/CA/OD accounts)</span>
            </div>
            <div class="col-md-7">
                <span>A/c No:0000033983570772</span>   <br> 
                <span>Balance:</span> <span  style="color: green;">$201.58</span> <br>
                <span>Nick name : Chandran S</span>
            </div>
        </div>
        <hr>
        <div class="row"  style="text-align: left;">
            <div class="col-md-5">
                <h6> Deposit Accounts</h6>
                <span>(Fixed /recurring Deposits) </span>
            </div>
            <div class="col-md-7">
                <p>We are not able to fetch the account details at this moment.please try again later</p>
            </div>     
        </div >
        <hr>
        <div class="row"  style="text-align: left;">
            <div class="col-md-5">
                <h6>Loan Accounts</h6>
            </div>
            <div class="col-md-7">
                <p>We are not able to fetch the account details at this moment.please try again later</p>
            </div>  
        </div>
        <hr>
        <div class="row"  style="text-align: left;">
            <div class="col-md-5">
                <h6>PPF/SSA/Accouts</h6>
            </div>
            <div class="col-md-7">
               <p>We are not able to fetch the account details at this moment.please try again later</p>
            </div>    
        </div>
         <hr>
      </div>
    </div>
  <div *ngIf="actDetails" class="col-md-4" style="background-color: cornsilk; border-radius: 5%;padding-left:30px;">
    <!-- <span style="color: blue;" >current date & time:{{now}}</span> -->
      <h5 style="text-align: center;">Account Details</h5>
      <p style="text-align: center;">0000033983570772</p>
      <div class="row">
          <div class="col-md-6">
              <p>account Type:</p>
          </div>
          <div class="col-md-6">
            <p>saving Account</p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
               Customer Name:
        </div>
        <div class="col-md-6">
               Mr.CHANDRAN S
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
              Description
        </div>
        <div class="col-md-6">
                chandran s
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
               Branch Name:
        </div>
        <div class="col-md-6">
            Sanarpatti
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
              sanctioned limit
        </div>
        <div class="col-md-6">
               $ 0.00
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             Available Balance
        </div>
        <div class="col-md-6">
             $201.59
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             MOD Balance
        </div>
        <div class="col-md-6">
     $0.00
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
       Uncleared Balance
        </div>
        <div class="col-md-6">
         $0.00
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Lien Amount
        </div>
        <div class="col-md-6">
            $0.00
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            IFSC code 
        </div>
        <div class="col-md-6">
              SBIN0015880
        </div>
    </div>
  </div>
</div>